#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  


nav {
    display: flex;
    background-color:#f3f4f6;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    }
    
    nav ul {
      flex-direction: row;
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 20px;
    }
    
    @media screen and (max-width: 700px) {
       nav ul{
      flex-direction: column;
      max-width:90%;
      gap:5px;
    }
      
    }